.contato {
    padding: 50px 20px;
    text-align: center;
    background-color: #555555;
    margin-top: -20px; 
}

h2 {
    text-align: center;
    color: #fff; 
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #000;
    margin-top: -20px; 
}

.contato .whatsapp-icon {
    width: 55px; 
    height: 55px;
    vertical-align: middle;
    cursor: pointer;
    transition: filter 0.3s;
}

.contato .whatsapp-icon:hover {
    filter: brightness(0.8); 
}
